*
{
    font-family: Helvetica;
}

label, .form-group strong
{
    color: #214e67
}

.mouse-default
{
    cursor: pointer !important;
}

tbody tr:hover
{
    background: #ebf0ff !important;
}

.font1
{
    color: #06674e;
    font-weight: bold;
    font-size: 11pt;
    line-height: 26px;
}

.font2
{
    color: #032419;
    /*font-weight: bold;*/
    font-size: 11pt;
    line-height: 20px;
}